<div class="gray-bg">    
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h3 class="logo-name logo">V</h3>

            </div>
            <h3>Bem vindo ao Venda Rápida</h3>
            <p>Faça login para entrar em ação.</p>
            <form class="m-t" role="form" ng-submit=go("/main")>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Login" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha" required="">
                </div>
                <button type="submit" class="btn btn-primary btn-login block full-width m-b">Login</button>

                <a href="#"><small>Forgot password?</small></a>
                <!--<p class="text-muted text-center"><small>Do not have an account?</small></p>-->
                <!--<a class="btn btn-sm btn-white btn-block" role="button" ng-click="go('/register')">Create an account</a>-->
            </form>
            <p class="m-t"> <small>Canarinho Copyrigth &copy; 2017</small> </p>
        </div>
    </div>
</div>
